@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------Animation--------------------- */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(-1%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}
.rotate {
  animation: rotateOnce 0.5s ease-in-out 1;
}
.blink {
  animation: blink 1.5s ease-in-out;
}
.slideIn {
  animation: slideIn 1.5s ease-out forwards;
}
.slideIn-delay {
  animation: slideIn 1.5s ease-out forwards;
  animation-delay: 0.5s;
}
/* ---------------Animation--------------------- */

/* -----------------custom Style ------------------ */

@layer components {
  .navbutton {
    @apply relative flex items-center justify-center hover:text-soft-blue dark:hover:text-blue-900 rounded-xl py-3 transition-all duration-300;
  }
  .navspan {
    @apply absolute top-14 left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-2xl;
  }
  .light {
    @apply bg-gradient-to-br from-black via-gray-800 to-gray-900 hover:bg-gradient-to-br hover:from-gray-900 hover:via-gray-800 hover:to-black;
  }
  .dark {
    @apply bg-gradient-to-br from-light-blue to-soft-blue hover:bg-gradient-to-br hover:from-soft-blue hover:to-light-blue;
  }
}
/* -----------------custom Style ------------------ */
